{{ 'section-parallax.css' | asset_url | stylesheet_tag }}

{% comment %} HTML Code {% endcomment %}

<div class="featured lazy" style="background: url({% if section.settings.parallax %}{{ section.settings.parallax | img_url: 'master' }}{% else %}<p>Choose Image</p>{% endif %})">

</div>


{% comment %} Schema {% endcomment %}
{% schema %}
    {
        "name": "Parallax",
        "tag": "section",
        "settings": [
            {
                
            "type": "image_picker",
            "id": "parallax",
            "label": "Pick Parallax Image"
            }
        ],
        "presets": [
            {
            "name": "Parallax",
            "category": "Parallax"
            }
        ],
        "templates": ["index"]
    }
{% endschema %}

