{% comment %} HTML Code {% endcomment %}

<div class="image" {{ block.shopify_attributes }}>
    {{ section.settings.parallax | image_url: width: 2048 | image_tag }}
  </div>


{% comment %} {{section.settings.parallax-grid | img_url}} {% endcomment %}

{% comment %} Schema {% endcomment %}
{% schema %}
{
  "name": "Parallax",
  "tag": "section",
  "settings": [
    {
        
      "type": "image_picker",
      "id": "parallax",
      "label": "Pick Parallax Image"
    }
  ],
  "presets": [
    {
      "name": "Parallax",
      "category": "Parallax"
    }
  ],
  "templates": ["index"]
}
{% endschema %}

